
prasentation/plugin/.DS_Store
.DS_Store
umformeln.ipynb
umformeln.ipynb
*.ipynb
prasentation/node_modules/.package-lock.json
prasentation/node_modules/fsevents/fsevents.d.ts
prasentation/node_modules/.package-lock.json
*.json
prasentation/node_modules/fsevents/README.md
prasentation/node_modules/.package-lock.json
prasentation/node_modules/fsevents/fsevents.js
prasentation/node_modules/fsevents/fsevents.node
prasentation/node_modules/fsevents/LICENSE
prasentation/node_modules/.package-lock.json
prasentation/node_modules/.package-lock.json
prasentation/node_modules/.package-lock.json
prasentation/node_modules/.package-lock.json
