<html>
    <head>
        <meta charset="utf-8">
        <title>Test App</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="app">
            <div class="main">
                <header>
                    <h1>WaveSense</h1>
                </header>
                <div class="body">
                    <div class="left">
                        <canvas id="canvasDisplay">
                            <p>{{error.canvas}}</p>
                        </canvas>
                    </div>
                    <div class="right">
                        <div class="settings">
                            <div class="setting" v-for="(value, setting) in settings">
                                <input type="number" v-model="settings[setting]">
                                {{setting}}: {{value}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="chart.js"></script>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</html>